/* ******* */
/* PRIMARY COLOR */
/* TEXT-Withe: f8f9fa */
/* FOOTER/HEADER BACKGROUND 171a21 */
/* SECONDARY COLOR */
/* ******* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
